@import "data/catppuccin.css";

@font-face {
  font-family: opensans;
  src: url(data/opensans.ttf);
}

@font-face {
  font-family: monaspace-neon;
  src: url(data/monaspace.otf);
}

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 16px;
  background-color: var(--ctp-mocha-base);
  font-family: opensans;
  color: #444;
  padding: 0 10px;
}

h1, h2, h3 {
  line-height: 1.2;
  color: var(--ctp-mocha-text);
}

p {
  color: var(--ctp-mocha-subtext0);
}

a {
  color: var(--ctp-mocha-blue);
}

textarea {
  background-color: var(--ctp-mocha-mantle);
  color: var(--ctp-mocha-text);
  font-family: monaspace-neon;
}

input {
  background-color: var(--ctp-mocha-surface0);
  color: var(--ctp-mocha-text);
  font-family: opensans;
  border: 1px solid;
  border-radius: 5px;
  border-color: var(--ctp-mocha-surface2);
  padding: 4px 8px;
}

input[type=button]:hover {
  background-color: var(--ctp-mocha-surface1);
  cursor: pointer;
}

input[type=button]:active {
  background-color: var(--ctp-mocha-surface2);
} 

select {
  background-color: var(--ctp-mocha-surface0);
  color: var(--ctp-mocha-text);
  font-family: opensans;
  border: 1px solid;
  border-radius: 5px;
  border-color: var(--ctp-mocha-surface2);
  padding: 4px 8px;
}

select:hover {
  cursor: pointer;
}

.tab-list {
  display: flex;
  justify-content: space-between;
}

.converter-options {
  display: flex;
  flex-direction: row;
}